@import url("./assets/styles/WebFonts.css");

* {
  font-family: "poppinslight", sans-serif;
  letter-spacing: -1px;
}

.App {
  text-align: center;
}

body {
  margin: 0;
}

p {
  font-family: "poppinsregular", sans-serif;
}

strong,
b,
i {
  font-family: "poppinsmedium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppinsblack", sans-serif;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "poppinsmedium", sans-serif !important;
}
